body{
  font-family: Montserrat;
  text-align: center;
  }

h1, h2, h3, h4, h5, h6{
  font-family: Montserrat-bold;
}

.feature-title, .pricing-text{
  font-size: 1.5rem;
}

  p{
    color: #8f8f8f;
  }

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  }

  .testimonial-heading, .pricing-heading{
    font-family: Montserrat-bold;
    font-size: 3rem;
    line-height: 1.5;
  }

.container-fluid{
  padding: 3% 15% 7%;
}

/* section */
.colored-section{
  background-color :#ff4c68;
  color:#fff;
}

.white-section{
  background-color:#fff;
}

#title{
  text-align: left;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;font-family: "Montserrat-light"
}

/* download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width:1028px) {
  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }
}

#features{
  padding: 7% 15%;
  position:relative;
}
.feature-row{
}

.feature-box{
    padding: 5%
}
.features-icon{
color:#ef8172;
margin-bottom: 1rem;
}

.features-icon:hover{
color:#ff4c68;
}


/* Testimonial section */

#testimonials{
  background-color :#ef8172;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color :#ef8172;
  padding-bottom: 2%;
}

.press-img{
  width:10%;
  margin 20px 20px 50px;
}

/* pricing setion */
#pricing{
  padding:100px;
}

.pricing-column{
  padding:5% 2%;
}

/* CTA section */
#cta{
  padding:7% 15%;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.cta-icon{
  margin:0 4px;
}

/* Footer Section */

#footer{
  padding: 7% 15%;
}

.footer-icon{
  margin:20px 10px;
  color:#b9ac92;
}
.copyright{
  color:#e4e3e3;
  font-size: 15px;
}
